<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a EJS home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste doloribus eveniet iure, laboriosam eum voluptatum fuga atque corrupti magnam itaque illum animi vel alias cupiditate nemo assumenda a velit sit mollitia dolore voluptas rerum? Saepe ab aperiam natus ut harum cum ipsa nostrum amet consequuntur voluptate! Magni provident commodi necessitatibus tempora maiores quam. Minus nam tenetur sapiente. Sint nihil quaerat sed harum ad facilis repudiandae repellat dolorem doloribus repellendus, eaque labore inventore deserunt odit fugit illo ipsa suscipit omnis quis neque esse maxime. Excepturi maxime beatae magni numquam, quibusdam quis alias dolores? Distinctio maiores, dolorum atque nulla odio dolores.</p>

    
</body>
</html>