<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Interpolation syntax - syntex to use js with html in ejs file. -->
    <h1><%= randomNumber %></h1>

    <!-- Conditional statement and control flow ejs synntax -->
    <% if (randomNumber > 3) { %>
        <p>The random number is greater than 3</p>
    <% } else { %>
        <p>The random number is less than or equal to 3</p>
    <% } %>
</body>
</html>